.list-item {
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.add-cart {
  background-color: rgba(0, 128, 0, 0.411);
}

.remove-cart {
  background-color: rgba(255, 0, 0, 0.411);
}